@font-face {
  font-family: "Timtonix";
  src: url("static/fonts/Timtonix.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


.timtonix,
.timtonix :is(h1, h2, h3, h4, h5, h6, p, li, a, blockquote) {
  font-family: "MaFont", sans-serif;
}